/* Reset */
body, html {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #ffffff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.logo img {
    width: 150px;
    margin-bottom: 20px;
    border-radius: 50px;
    animation: pause-img  3.4375s infinite;
}

h1 {
    font-size: 2.5rem;
    margin: 10px 0;
    color: #FF881F;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    max-width: 600px;
    margin: 10px auto;
}

a {
    color: #FF881F;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.waveform {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.wave {
    width: 10px;
    height: 50px;
    background-color: #1ED7FF;
    margin: 0 5px;
    animation: bounce 1.71875s infinite ease-in-out, pause-wave  1.71875s infinite;
}

.wave:nth-child(2) {
    animation-delay: 0.2s;
}

.wave:nth-child(3) {
    animation-delay: 0.4s;
}

.wave:nth-child(4) {
    animation-delay: 0.6s;
}

@keyframes bounce {
    0%, 100% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(1.5);
    }
}

@keyframes pause-wave {
    0%, 70% {
        opacity: 1;
    }
    70%, 100% {
        opacity: 0.8;
    }
}

@keyframes pause-img {
    0%, 100% {
        opacity: 1;
        box-shadow: 0px 0px 20px 10px #1ED7FF;
    }
    50% {
        opacity: 0.8;
        box-shadow: 0px 0px 20px 10px #1ed6ff8c;
    }
}